.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#dash {
  border: 3px solid black;
  padding: 5%;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  height: 80vh;
}

#dash > div {
  margin: 3px;
}


#box1 {
  /* height:20vh; */
  flex-basis: 32.333%;
  width: 50%;
  background-color: red;
}
#box2 {
  /* height: 20vh; */
  flex-basis: 65.5%;
  width: 50%;
  background-color: blue; 
}
#box3 {
  /* height: 20vh; */
  flex-basis: 32.333%;
  width: 50%;
  background-color: green;
}
#box4 {
  /* height: 20vh; */
  flex-basis: 32.333%;
  width: 50%;
  background-color: orange;
}
#box5 {
  /* height: 20vh; */
  flex-basis: 32.333%;
  width: 50%;
  background-color: yellow;
}