  /* ------------------------------------------- */

  /* COLOR PALETTE */

  /* -------------------------------------------
  BLUE => #1E3F6C 
  RED => #ED553E
  YELLOW => #FDCD30
  LIGHT BLUE => #41BCEA
  GREEN => #428221
  RED => #FC5130
  DARK BLUE => #00284C
  /* ------------------------------------------- */

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  .App {
    text-align: center;
    font-family: "Quicksand"
  }

  .detail-page {
    text-align: center;
    font-family: "Quicksand";
    background-color: white;
  }

  #root {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), #000), url(./imgs/basil-blur-close-up-1391505.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  .chart-container {
    position: relative;
    width: 45vw;
  }

  #chart-wrapper {
    display: flex;
    justify-content: space-evenly
  }

  /* ------------------------------------------- */

  /* Desktop */

  /* ------------------------------------------- */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header {
    background-color: #ffffff;
    background-image: linear-gradient(550deg, #ffffff 0%, #82bc23 74%);
    letter-spacing: 2px;
    border-bottom: #282c34 1px solid;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header h2 {}

  #logo {
    height: 100px;
    width: 205px;
    margin-left: 5vw;
  }

  #dash {
    /* margin: 5%; */
    padding: 3%;
    display: grid;
    grid-template-columns: calc(50% - 15px) 50%;
    grid-template-rows: 27vh 27vh 27vh 27vh;
    grid-template-areas: "air-content   water-content""light-content  pump-content""alert-content control-content";
    grid-gap: 10px;
  }

  #dash>div {
    border: 2px solid gray;
  }

  #date {
    font-size: 20px;
    color: black;
    margin-right: 5vw;
  }

  #nav {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
  }

  button {
    /* position: absolute; */
    /* top: 12%; */
    /* right: 5%; */
  }

  /* #topNav {
      grid-area: topNav;
      background-color: #61dafb97;
    }
    #navItems {
      width: 100%;
      list-style: none;
      display: flex;
    }
    #navItems li {
      margin-right: 60px;
      margin-top: 30px;
    } */

  /** Slider **/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* ------------------------------------------- */

  /* CONTENT BOXES */

  /* ------------------------------------------- */

  #air-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    grid-area: air-content;
    border-radius: 2px;
    color: #f5f7fa;
    transition: background-color 0.5s ease;
  }

  #air-content:hover {
    background-color: rgba(66, 130, 33, 0.482);
  }

  #air-container {
    /* position: relative; */
    /* float: right; */
    /* overflow: hidden; */
    /* padding-right: 5%; */
  }

  #air-img-box>img {}

  #water-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    grid-area: water-content;
    border-radius: 2px;
    color: #f5f7fa;
    transition: background-color 0.5s ease;
  }

  #water-content:hover {
    background-color: rgba(66, 130, 33, 0.482);
  }

  #light-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #ED8F03, #FFB75E); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #ED8F03, #FFB75E); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-area: light-content;
    border-radius: 2px;
    color: #f5f7fa;
    transition: background-color 0.5s ease;
  }

  #light-content:hover {
    background-color: rgba(66, 130, 33, 0.482);
  }

  #light-text {
    font-size: 2.5em;
  }

  #pump-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    grid-area: pump-content;
    border-radius: 2px;
    color: #f5f7fa;
    transition: background-color 0.5s ease
  }

  #pump-content:hover {
    background-color: rgba(66, 130, 33, 0.482);
  }

  #pump-text {
    font-size: 2.2em;
  }

  #alert-content {
    background-color: rgba(0, 0, 0, 0.55);
    grid-area: alert-content;
    border-radius: 2px;
    color: #f5f7fa;
    transition: background-color 0.5s ease
  }

  #alert-content:hover {
    background-color: rgba(66, 130, 33, 0.482);
  }

  #alert-box {
    border: 3px solid black;
    background-color: rgba(211, 211, 211, 0.65);
    width: 75%;
    height: 75%;
    margin: 5% auto;
    border-radius: 8px;
  }

  #control-content {
    background-color: rgba(0, 0, 0, 0.55);
    grid-area: control-content;
    border-radius: 2px;
    color: #f5f7fa;
    transition: background-color 0.5s ease;
  }

  #control-content:hover {
    background-color: rgba(66, 130, 33, 0.482);
  }

  .data {
    font-weight: bold;
    font-size: 2.9em;
  }

  .label {
    margin-top: 5%;
    font-size: 1.4rem;
  }

  /* .secondary {
    font-size: 0.5em;
  } */

  @media screen and (max-width: 748px) {
    #dash {
      margin: auto;
      padding: 5%;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(6, 25vh);
      grid-template-areas:
        "air-content"
        "water-content"
        "light-content"
        "pump-content"
        "alert-content"
        "control-content";
      grid-gap: 10px;
    }

    .data {
      font-size: 2.5em;
    }

    #chart-wrapper {
      flex-direction: column;
      align-items: center;
      /* justify-content: space-evenly; */
      /* height: 90vh; */
    }

    .chart-container {
      width: 90vw;
      margin-top: 10%;
      border: 1px solid green;
      padding: 5%;
    }

    #date {
      font-size: 15px;
    }

    #logo {
      width: 100px;
      height: 50px;
    }

    #header h2 {
      font-size: 20px;
    }

  }

  @media screen and (min-width: 1024px) {
    img {
      width: 150px;
      height: 150px;
    }
  }