  /* ------------------------------------------- */

                /* COLOR PALETTE */

  /* -------------------------------------------
  BLUE => #1E3F6C 
  RED => #ED553E
  YELLOW => #FDCD30
  LIGHT BLUE => #41BCEA
  GREEN => #428221
  RED => #FC5130
  DARK BLUE => #00284C
  /* ------------------------------------------- */

  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600&display=swap');
  * {
    margin: 0;
    padding: 0;
  }

  .App {
    text-align: center;
    font-family: "Quicksand"
  }

  #root {
    height: 100vh;
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }


  /* ------------------------------------------- */

                  /* Desktop */

  /* ------------------------------------------- */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #header {
    background-color: #ffffff;
    background-image: linear-gradient(550deg, #ffffff 0%, #82bc23 74%);
    letter-spacing: 2px;
    border-bottom: #282c34 1px solid;
  }

  #dash {
    /* margin: 5%; */
    padding: 5%;
    display: grid;
    grid-template-columns: calc(50% - 15px) 50%;
    grid-template-rows: 27vh 27vh 27vh;
    grid-template-areas: 
              "air-content   water-content" 
              "light-content  pump-content" 
              "alert-content control-content";
    grid-gap: 10px;
  }

  #dash > div {
    border: 2px solid gray;
  }

  /* #topNav {
      grid-area: topNav;
      background-color: #61dafb97;
    }
    #navItems {
      width: 100%;
      list-style: none;
      display: flex;
    }
    #navItems li {
      margin-right: 60px;
      margin-top: 30px;
    } */

  /* ------------------------------------------- */

  /* CONTENT BOXES */

  /* ------------------------------------------- */

  #air-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FC5130;
    grid-area: air-content;
    border-radius: 2px;
    color: #f5f7fa
  }

  #air-container {
    /* position: relative; */
    /* float: right; */
    /* overflow: hidden; */
    /* padding-right: 5%; */
    
  }

  #air-img-box>img {}

  .info-text {
    font-weight: bold;
    font-size: 2.9em;
  }

  .label1 {
    font-size: 50%;
    font-weight: 300;
  }

  .hum {
    font-size: 2em;
    padding-top: 10px;
  }

  .label2 {
    font-size: 75%;
    font-weight: 300;
  }

  #water-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1E3F6C;
    grid-area: water-content;
    border-radius: 2px;
    color: #f5f7fa
  }

  #water-img-box {}

  #light-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFB75E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ED8F03, #FFB75E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ED8F03, #FFB75E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-area: light-content;
    border-radius: 2px;
    color: #f5f7fa
  }

  #light-img-box {}

  #light-text {
    font-size: 2.5em;
  }

  #pump-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #41BCEA;
    grid-area: pump-content;
    border-radius: 2px;
    color: #f5f7fa
  }
  
  #pump-img-box {}

  #pump-text {
    font-size: 2.2em;
  }

  #alert-content {
    background-color: pink;
    grid-area: alert-content;
    border-radius: 2px;
    color: #f5f7fa
  }

  #alert-box {
    border: 3px solid black;
    background-color: rgba(211, 211, 211, 0.65);
    width: 75%;
    height: 75%;
    margin: 5% auto;
    border-radius: 8px;
  }

  #control-content {
    background-color: orange;
    grid-area: control-content;
    border-radius: 2px;
    color: #f5f7fa
  }

  .label {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.2rem;
    align-self: start;
  }

@media screen and (max-width: 748px) {
  #dash {
    margin: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 25vh);
    grid-template-areas: 
              "air-content"
              "water-content" 
              "light-content"
              "pump-content"
              "alert-content"
              "control-content";
    grid-gap: 10px;
  }
  .info-text {
    font-size: 2.3em;
  }

}